# Estimating Auto Ownership

Integration with [larch](https://larch.newman.me) for model estimation. See [estimation tools review](https://github.com/ActivitySim/activitysim/wiki/Estimation-Tools-Review) for more information about larch.

# Run the Example

Output an estimation data bundle (EBD), which contains:
  - model settings - auto_ownership_model_settings.yaml
  - coefficients - auto_ownership_coefficients.csv
  - utilities specification - auto_ownership_SPEC.csv
  - utility specification expression values - auto_ownership_write_expression_values.csv
  - chooser and alternative data combined into one file - auto_ownership_values_combined.csv
  - chooses made - auto_ownership_choices.csv

# Read EDB

In [7]:
import larch  # !conda install larch #for estimation
import pandas as pd

In [10]:
coefficients = pd.read_csv("estimation_data_bundle/auto_ownership/auto_ownership_coefficients.csv")
spec = pd.read_csv("estimation_data_bundle/auto_ownership/auto_ownership_SPEC.csv")
alt_values = pd.read_csv("estimation_data_bundle/auto_ownership/auto_ownership_write_expression_values.csv")
chooser_data = pd.read_csv("estimation_data_bundle/auto_ownership/auto_ownership_values_combined.csv")
choices = pd.read_csv("estimation_data_bundle/auto_ownership/auto_ownership_choices.csv")

In [11]:
coefficients

            coefficient_name   value constrain
0       coef_cars1_drivers_2  0.0000         T
1       coef_cars1_drivers_3  0.0000         T
2   coef_cars1_persons_16_17  0.0000         T
3     coef_cars234_asc_marin  0.0000         T
4   coef_cars1_persons_25_34  0.0000         T
..                       ...     ...       ...
62      coef_cars4_drivers_3  5.2080         F
63      coef_cars3_drivers_3  5.5131         F
64   coef_cars2_drivers_4_up  6.3662         F
65   coef_cars3_drivers_4_up  8.5148         F
66   coef_cars4_drivers_4_up  9.5807         F

[67 rows x 3 columns]

In [12]:
spec

,Label,Description,Expression,cars0,cars1,cars2,cars3,cars4
0,util_drivers_2,2 Adults (age 16+),num_drivers==2,NaN,coef_cars1_drivers_2,coef_cars2_drivers_2,coef_cars3_drivers_2,coef_cars4_drivers_2
1,util_drivers_3,3 Adults (age 16+),num_drivers==3,NaN,coef_cars1_drivers_3,coef_cars2_drivers_3,coef_cars3_drivers_3,coef_cars4_drivers_3
2,util_drivers_4_up,4+ Adults (age 16+),num_drivers>3,NaN,coef_cars1_drivers_4_up,coef_cars2_drivers_4_up,coef_cars3_drivers_4_up,coef_cars4_drivers_4_up
3,util_persons_16_17,Persons age 16-17,num_children_16_to_17,NaN,coef_cars1_persons_16_17,coef_cars2_persons_16_17,coef_cars34_persons_16_17,coef_cars34_persons_16_17
4,util_persons_18_24,Persons age 18-24,num_college_age,NaN,coef_cars1_persons_18_24,coef_cars2_persons_18_24,coef_cars34_persons_18_24,coef_cars34_persons_18_24
5,util_persons_25_34,Persons age 35-34,num_young_adults,NaN,coef_cars1_persons_25_34,coef_cars2_persons_25_34,coef_cars34_persons_25_34,coef_cars34_persons_25_34
6,util_presence_children_0_4,Presence of children age 0-4,num_young_children>0,NaN,coef_cars1_presence_children_0_4,coef_cars234_presence_children_0_4,coef_cars234_presence_children_0_4,coef_cars234_presence_children_0_4
7,util_presence_children_5_17,Presence of children age 5-17,(num_children_5_to_15+num_children_16_to_17)>0,NaN,coef_cars1_presence_children_5_17,coef_cars2_presence_children_5_17,coef_cars34_presence_children_5_17,coef_cars34_presence_children_5_17
8,util_num_workers_clip_3,"Number of workers, capped at 3",@df.num_workers.clip(upper=3),NaN,coef_cars1_num_workers_clip_3,coef_cars2_num_workers_clip_3,coef_cars3_num_workers_clip_3,coef_cars4_num_workers_clip_3
9,util_hh_income_0_30k,"Piecewise Linear household income, $0-30k","@df.income_in_thousands.clip(0, 30)",NaN,coef_cars1_hh_income_0_30k,coef_cars2_hh_income_0_30k,coef_cars3_hh_income_0_30k,coef_cars4_hh_income_0_30k
10,util_hh_income_30_75k,"Piecewise Linear household income, $30-75k","@(df.income_in_thousands-30).clip(0, 45)",NaN,coef_cars1_hh_income_30_up,coef_cars2_hh_income_30_up,coef_cars3_hh_income_30_up,coef_cars4_hh_income_30_up
11,util_hh_income_75k_up,"Piecewise Linear household income, $75k+, capp...","@(df.income_in_thousands-75).clip(0, 50)",NaN,coef_cars1_hh_income_30_up,coef_cars2_hh_income_30_up,coef_cars3_hh_income_30_up,coef_cars4_hh_income_30_up
12,util_density_0_10_no_workers,"Density index up to 10, if 0 workers","@(df.num_workers==0)*df.density_index.clip(0, 10)",NaN,coef_cars1_density_0_10_no_workers,coef_cars2_density_0_10_no_workers,coef_cars34_density_0_10_no_workers,coef_cars34_density_0_10_no_workers
13,util_density_10_up_no_workers,"Density index in excess of 10, if 0 workers",@(df.num_workers==0)*(df.density_index-10).cli...,NaN,coef_cars1_density_10_up_no_workers,coef_cars2_density_10_up_no_workers,coef_cars34_density_10_up_no_workers,coef_cars34_density_10_up_no_workers
14,util_density_0_10_workers,"Density index up to 10, if 1+ workers","@(df.num_workers>0)*df.density_index.clip(0, 10)",NaN,coef_cars1_density_0_10_no_workers,coef_cars2_density_0_10_no_workers,coef_cars34_density_0_10_no_workers,coef_cars34_density_0_10_no_workers
15,util_density_10_up_workers,"Density index in excess of 10, if 1+ workers",@(df.num_workers>0)*(df.density_index-10).clip(0),NaN,coef_cars1_density_10_up_workers,coef_cars2_density_10_up_no_workers,coef_cars34_density_10_up_no_workers,coef_cars34_density_10_up_no_workers
16,util_asc,Constants,1,NaN,coef_cars1_asc,coef_cars2_asc,coef_cars3_asc,coef_cars4_asc
17,util_asc_san_francisco,San Francisco county,@df.county_id == ID_SAN_FRANCISCO,NaN,coef_cars1_asc_san_francisco,coef_cars2_asc_san_francisco,coef_cars34_asc_san_francisco,coef_cars34_asc_san_francisco
18,util_asc_solano,Solano county,@df.county_id == ID_SOLANO,NaN,coef_cars1_asc_county,coef_cars2_asc_county,coef_cars34_asc_county,coef_cars34_asc_county
19,util_asc_napa,Napa county,@df.county_id == ID_NAPA,NaN,coef_cars1_asc_county,coef_cars2_asc_county,coef_cars34_asc_county,coef_cars34_asc_county
20,util_asc_sonoma,Sonoma county,@df.county_id == ID_SONOMA,NaN,coef_cars1_asc_county,coef_cars2_asc_county,coef_cars34_asc_county,coef_cars34_asc_county
21,util_asc_marin,Marin county,@df.county_id == ID_MARIN,NaN,coef_cars1_asc_marin,coef_cars234_asc_marin,coef_cars234_asc_marin,coef_cars234_asc_marin
22,util_retail_auto_no_workers,Retail accessibility (0.66*PK + 0.34*OP) by au...,(num_workers==0)*(0.66*auPkRetail+0.34*auOpRet...,NaN,coef_retail_auto_no_workers,coef_retail_auto_no_workers,coef_retail_auto_no_workers,coef_retail_auto_no_workers
23,util_retail_auto_workers,Retail accessibility (0.66*PK + 0.34*OP) by au...,(num_workers>0)*(0.66*auPkRetail+0.34*auOpRetail),NaN,coef_retail_auto_workers,coef_retail_auto_workers,coef_retail_auto_workers,coef_retail_auto_workers
24,util_retail_transit_no_workers,Retail accessibility (0.66*PK + 0.34*OP) by tr...,(num_workers==0)*(0.66*trPkRetail+0.34*trOpRet...,NaN,coef_retail_transit_no_workers,coef_retail_transit_no_workers,coef_retail_transit_no_workers,coef_retail_transit_no_workers
25,util_retail_transit_workers,Retail accessibility (0.66*PK + 0.34*OP) by tr...,(num_workers>0)*(0.66*trPkRetail+0.34*trOpRetail),NaN,coef_retail_transit_workers,coef_retail_transit_workers,coef_retail_transit_workers,coef_retail_transit_workers
26,util_retail_non_motor_no_workers,"Retail accessibility by non-motorized, if 0 wo...",(num_workers==0)*nmRetail,NaN,coef_retail_non_motor,coef_retail_non_motor,coef_retail_non_motor,coef_retail_non_motor
27,util_retail_non_motor_workers,"Retail accessibility by non-motorized, if 1+ w...",(num_workers>0)*nmRetail,NaN,coef_retail_non_motor,coef_retail_non_motor,coef_retail_non_motor,coef_retail_non_motor
28,util_auto_time_saving_per_worker,Auto time savings per worker to work,"@np.where(df.num_workers > 0, df.hh_work_auto_...",NaN,coef_cars1_auto_time_saving_per_worker,coef_cars2_auto_time_saving_per_worker,coef_cars3_auto_time_saving_per_worker,coef_cars4_auto_time_saving_per_worker

In [13]:
alt_values

,household_id,util_drivers_2,util_drivers_3,util_drivers_4_up,util_persons_16_17,util_persons_18_24,util_persons_25_34,util_presence_children_0_4,util_presence_children_5_17,util_num_workers_clip_3,...,util_asc_napa,util_asc_sonoma,util_asc_marin,util_retail_auto_no_workers,util_retail_auto_workers,util_retail_transit_no_workers,util_retail_transit_workers,util_retail_non_motor_no_workers,util_retail_non_motor_workers,util_auto_time_saving_per_worker
0,841891,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.000000,9.939661,0.000000,6.888076,0.000000,5.937468,0.263865
1,990869,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.000000,9.886284,0.000000,6.440721,0.000000,6.420290,0.531568
2,125886,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.000000,9.975772,0.000000,6.071799,0.000000,6.105641,0.419713
3,727893,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.000000,10.140908,0.000000,7.929397,0.000000,8.117417,0.123872
4,431928,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,10.140908,0.000000,7.929397,0.000000,8.117417,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,988326,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.000000,9.911638,0.000000,5.912093,0.000000,6.126010,0.436125
96,258228,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.000000,9.240036,0.000000,4.042026,0.000000,0.000000,0.713415
97,2369346,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,...,0.0,0.0,0.0,0.000000,9.953144,0.000000,6.627710,0.000000,6.725479,0.291053
98,1722006,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,...,0.0,0.0,0.0,0.000000,9.899166,0.000000,6.130643,0.000000,6.099601,0.492755
99,350837,0.0,1.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.000000,10.006902,0.000000,6.354881,0.000000,5.898318,0.324888

In [14]:
chooser_data

,household_id,model_choice,override_choice,TAZ,income,hhsize,HHT,auto_ownership,num_workers,chunk_id,...,OPRKCST,area_type,HSENROLL,COLLFTE,COLLPTE,TOPOLOGY,TERMINAL,household_density,employment_density,density_index
0,28547,1,0,11,0,1,4,0,0,42,...,259.00000,0,0.00000,0.00000,0.00000,3,4.64739,57.364680,209.157712,45.017851
1,31153,0,1,46,800,1,4,0,0,20,...,102.00000,1,0.00000,0.00000,0.00000,1,4.37996,86.151401,29.646921,22.056656
2,32052,1,0,78,8100,1,6,1,0,68,...,384.05374,2,0.00000,0.00000,0.00000,2,4.52764,101.161290,67.483871,40.479996
3,32332,0,0,79,7300,1,6,0,0,66,...,123.00000,1,359.48679,0.00000,0.00000,3,4.32642,61.941225,116.497664,40.439660
4,110274,0,0,13,21000,1,4,1,1,16,...,888.10638,0,348.71741,1719.16077,3824.83545,3,5.51319,4.904768,975.616089,4.880233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2766406,0,1,102,0,1,0,0,0,64,...,80.41871,2,0.00000,0.00000,0.00000,1,3.72235,57.095161,21.985156,15.873052
96,2769303,0,1,188,0,1,0,0,0,99,...,0.00000,2,3961.04761,17397.79102,11152.93652,1,2.28992,3.984127,23.820106,3.413233
97,2832537,1,1,21,0,1,0,0,0,71,...,355.00000,1,0.00000,0.00000,0.00000,3,4.29617,58.659122,121.829185,39.594770
98,2835246,0,1,91,0,1,0,0,0,17,...,0.00000,1,0.00000,3598.08521,0.00000,1,3.29100,11.947644,45.167539,9.448375
99,2836503,0,1,188,0,1,0,0,0,65,...,0.00000,2,3961.04761,17397.79102,11152.93652,1,2.28992,3.984127,23.820106,3.413233

In [15]:
choices

    household_id  model_choice
0         841891             1
1         990869             2
2         125886             1
3         727893             0
4         431928             1
..           ...           ...
95        988326             2
96        258228             2
97       2369346             1
98       1722006             2
99        350837             0

[100 rows x 2 columns]

# Data Setup

# Estimate

# Outputs